---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Stéphane Bausseron" description="About Stéphane Bausseron">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Découvrez mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/devWeb.PNG"
					alt="Stéphane Bausseron at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
					Passionné par le développement web, j'ai consacré ces dernières années à créer et perfectionner divers projets qui répondent à des besoins spécifiques et variés.
					Mon parcours m'a amené à développer une expertise solide dans plusieurs domaines de la programmation, en utilisant des technologies modernes et performantes. 
					<br>Voici quelques-unes de mes réalisations les plus notables :<br>
					site de vente aux enchères : Développé en Java avec une base de données MariaDB, ce projet permet aux utilisateurs de mettre en vente et d'enchérir sur divers articles de manière sécurisée et efficace.<br>
					</p>
					<p>
					Site de déclaration d'événements : Utilisant PHP 8.2 et une base de données MySQL, ce site facilite la gestion et l'annonce d'événements pour les organisateurs et les participants.<br>
					</p>
					<p>
					Wingom : Un site de vente de pneus de tracteurs pour agriculteurs, conçu pour offrir une expérience d'achat en ligne simple et rapide.<br>
					</p>
					<p>
						Albizia : Une application web destinée à un fleuriste, qui simplifie la gestion des commandes et améliore la satisfaction client grâce à une interface intuitive et fonctionnelle.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Ma formation en développement web et mobile a débuté par un programme intensif de 8 mois à l'ENI Ecole Informatique.
					Ce cursus incluait une immersion de 2 mois au sein de l'entreprise K-Technologies, où j'ai pu appliquer mes compétences
					dans un environnement professionnel réel. À l'issue de cette formation,
					j'ai obtenu le titre de Développeur Web et Web Mobile, un diplôme certifié par l'État au niveau bac +2.</p>
					<p>Pour compléter mes compétences techniques, j'ai également suivi une formation aux outils NoCode et à l'intelligence artificielle
					chez Alegria.academy. Ces compétences me permettent de maîtriser les automatisations et la génération de contenu IA,
					rendant mes projets encore plus innovants et performants.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Au fil de mes projets et de ma formation, j'ai acquis une maîtrise approfondie des langages et technologies suivants :<br>
						Langages de programmation : HTML, CSS, PHP 8.2, Javascript
						Outils NoCode : Airtable, Make, Softr, Glide <br>
						Ces compétences me permettent de créer des solutions web robustes, évolutives et parfaitement adaptées aux besoins spécifiques
						de chaque client. Mon objectif est de continuer à apprendre et à innover pour offrir des services de développement web
						de haute qualité.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
